# ---------------------------
# IDE / 编辑器配置
# ---------------------------
.idea/

# ---------------------------
# Python 缓存
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# 日志文件夹
# ---------------------------
logs_seq2seq_train/

# ---------------------------
# 模型与训练生成的权重文件
# ---------------------------
best_seq2seq_checkpoint.pth
best_seq2seq_model.pth
vocab_dict.pth
*.pth
*.pt

# ---------------------------
# 用户数据文件
# ---------------------------
wxid_osb3shozax2v22.dat

# ---------------------------
# 临时文件
# ---------------------------
*.log
*.tmp
